
forwarding.secret

logs/
cache/
*.log
*.log.gz
*.log.*

*.jar.tmp
*.tmp

plugins/luckperms/data/
plugins/luckperms/libs/
plugins/luckperms/translations/
plugins/luckperms/json-storage/
plugins/skinsrestorer/data/
plugins/skinsrestorer/cache/
plugins/skinsrestorer/logs/
plugins/velocitab/data/
plugins/spark/
plugins/viaversion/cache/
plugins/viaversion/mappings/

.vscode/
.idea/
*.iml
*.sublime-*
.project
.classpath
.settings/

.DS_Store
._*
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

*.bak
*.swp
*.swo
*~
.~*
